:root {
    --primary: #FE8800;
    --secondary: #4981fa;
    --light: #F6FAFF;
    --dark: #2B293A;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/** Essential **/
body {
    font-family: "Outfit", sans-serif;
    color: var(--dark);
    font-size: 14px;
    line-height: 20px;
    background-color: var(--light);
    min-height: 100%;
}


h1 {
    font-weight: 800;
    line-height: 119.5%;
    font-size: 20vh;
    letter-spacing: 0.015em; 
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 7vh;
    line-height: 65px;
    letter-spacing: 0.04em;
}

h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.5em;
}

p {
    font-weight: 400;
    font-size: 2vh;
    line-height: 150.6%;
    letter-spacing: 0.02em;
}


/* hero */
.hero {
    height: 800px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url('../media/background-image-min.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
    width: 100%;
}

.hero-heading {
    display: flex;
    padding-top: 115px;
    color: #F6FAFF;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}


/* NavBar */

.navigation-site{
    padding-top: 0;
}
    
.navbar {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 19px;
}

.navbar img {
    border-radius: 0;
}

.navbar-nav .nav-link.active {
    color: #FA712E;
    font-weight: 700;
}

.nav-item {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
}

.nav-link {
    margin-right: 40px;
    color: var(--light);
}

.nav-link:hover{
    color: #4981fa;
}

.collapse .btn{
    background-color: #fc915c3a;
    color: #DDDDDD;
    text-transform: uppercase;
}

.collapse .btn:hover {
    color: white;
    text-transform: uppercase;
    background-color: rgba(250, 117, 50, 0.532);
}

/* Newsletter */

.newsletter{
    text-align: center;
}

.newsletter .btn{
    padding: 15px;
    background-color: #4489E4;
    border: #4489E4;
    }
    
.newsletter .btn:hover {
    background-color: #3e5e89;
    border: #3e5e89;
}

.input-newsletter{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

/* About */
.about-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Destination */
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
} 







